---
title: Verification
---

# Verification

## 1 Definition

Provision of objective evidence that a given item fulfils specified requirements.

### Notes 
- When applicable, [Measurement](../measurement) [Uncertainty](../uncertainty) should be taken into consideration.
- The item may be, e.g. a process, [Measurement](../measurement) procedure, material, compound, or measuring system.
- The specified requirements may be, e.g. that a manufacturer's specifications are met.
- Verification should not be confused with [Calibration](../calibration). Not every verification is a [Validation](../validation).

### Examples 

### Sources
- ISO/IEC Guide 99:2007, 2.44

___

## 2 Definition

The evaluation of whether or not a product, service, or system complies with a regulation requirement, specification, or imposed condition. It is often an internal process.

### Notes 

### Examples 

### Sources
- EU-US Land Imaging EO Collaboration

___

## 3 Definition

Verification serves as a means to evaluate the reliability of the [Data](../data) in the absence of a [Reference](../reference) dataset, allowing for an assessment of its standalone performance. It involves confirming the consistency and internal coherence of the [Data](../data) without direct comparison to external [Reference](../reference) sources.

### Notes 

### Examples 

### Sources
- KCEO
